<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    <style>
        body{
            background-image: url('BGImage.jpg');
        }
    
        #main{
            
            text-align: center;
            margin: auto;
            width: 50%;
            padding: 70px 0;
            background-color: rgba(255, 255, 255, 0.815);
        }
    </style>
    <title>Fuel Price App</title>
</head>

<div id="main">
    <h1>Fuel Price App</h1>
    <a href="/login"><button class="btn btn-primary">Login</button></a>
    <a href="/register"><button class="btn btn-success" href="/register">Register</button></a>
</div>
