<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    <title>Fuel Price App</title>
    <style>
        body {
            background-image: url('BGImage.jpg');
        }

        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=Password], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }
        #form1 {
            height: 450px;
            width: 500px;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
        .invisible {
            display: none;
            visibility: hidden;
   }
    </style>

<script> 
    // Function to check Whether both passwords 
    // is same or not. 
    function checkPassword(form) { 
        password = form.password.value; 
        confirmPassword = form.confirmPassword.value; 

        // If password not entered 
        if (password == '') 
            alert ("Please enter Password"); 
              
        // If confirm password not entered 
        else if (confirmPassword == '') 
            alert ("Please enter confirm password"); 
              
        // If Not same return False.     
        else if (password != confirmPassword) { 
            alert ("\nPassword did not match: Please try again...") 
            return false; 
        } 

        // If same return True. 
        else{ 
            return true; 
        } 
    } 
</script> 
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Fuel Price</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    
    <div id="form1" class = "center">
        <form name ="f" action="/register" method="POST" onSubmit = "return checkPassword(this)">
            <h4 style="text-align:center">Register</h4>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="Password" id="password" name="password" required><br>
            <label for="confirmPassword">Confirm Password:</label><br>
            <input type="Password" id="confirmPassword" name="confirmPassword" required><br>
            <input type="Submit" onclick="checkPassword()">
        </form>
    </div>
</body>

</html>